mixin work-slide(imgSrc, slideNum, descrip, stage, modalId)
    .works-slider-item
        .works-slider-img
            img(src="img/works/"+ imgSrc+".jpg", alt="work")
        .works-slider-text
            .work-number #{slideNum}
            .work-descrip 
                p !{descrip}
                p Стадия !{stage}
        .works-slider-btn
            a(href="#!" type="button" data-toggle="modal" data-target= modalId ).page-button Подробнее

mixin work-modal(modalId, title, stage, companyName )
    .slider-modal.modal.fade(id = modalId tabindex="-1" role="dialog" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content                
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") ×
                .modal-body
                    .work-info
                        .modal-col.modal-col--img
                            .work-img
                                img(src="img/works/1.jpg", alt="project")
                            .work-title !{title}

                        .modal-col.modal-col--descrip
                            p Стадия #{stage}
                            p Заказчик: #{companyName}
                            p Разделы проектирования, выполненные на объекте:
                            ol
                                li Отопление, теплоснабжение и кондиционирование;
                                li Система водоснабжения и водоотведения. Насосная водоснабжения и пожаротушения;
                                li Противодымная вентиляция;
                                li Автоматическая установка водяного пожаротушения;
                                li Внутренний противопожарный водопровод.
                    .calk-form
                        .calk-form-title рассчитать ваш проект
                        form(action="").contact-form
                            input(type="hidden" name="project_name" value="")                            
                            input(type="hidden" name="admin_email" value="")
                            input(type="hidden" name="project_email" value="")
                            .form-fields
                                .form-group
                                    input(type="text" name="user-name" required).form-input
                                    span
                                        i.far.fa-user
                                .form-group
                                    input(type="tel" name="user-tel" required).form-input.phone
                                    span
                                        i.fas.fa-mobile-alt
                                .form-group
                                    input(type="submit" value="отправить заявку" ).form-input.page-button
                                    p.politic-text Отправляя заявку вы соглашаетесь на обработку персональных данных
section.works
    .container
        h2.title-2 наши работы
    .container-fluid
        .works-wrapper
            .works-slider
                +work-slide(1, '01', ' Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad cum quidem delectus illo saepe facere veniam sint facilis', 'P', '#modal1')
                +work-slide(2, '02', ' Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad cum quidem delectus illo saepe facere veniam sint facilis', 'P', '#modal2')
                +work-slide(3, '03', ' Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad cum quidem delectus illo saepe facere veniam sint facilis', 'P', '#modal3')
                +work-slide(4, '04', ' Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad cum quidem delectus illo saepe facere veniam sint facilis', 'P', '#modal4')
+work-modal('modal1', 'Гостинично-деловой комплекс по адресу: г. Москва, ул. 5-я Мякининская, вл. 20, ул. 4-я Мякининская, вл. 27, стр.1', 'П','ООО «МЕРАКОМ»')
+work-modal('modal2', 'Гостинично-деловой комплекс по адресу: г. Москва, ул. 5-я Мякининская, вл. 20, ул. 4-я Мякининская, вл. 27, стр.1', 'П','ООО «МЕРАКОМ»')
+work-modal('modal3', 'Гостинично-деловой комплекс по адресу: г. Москва, ул. 5-я Мякининская, вл. 20, ул. 4-я Мякининская, вл. 27, стр.1', 'П','ООО «МЕРАКОМ»')
+work-modal('modal4', 'Гостинично-деловой комплекс по адресу: г. Москва, ул. 5-я Мякининская, вл. 20, ул. 4-я Мякининская, вл. 27, стр.1', 'П','ООО «МЕРАКОМ»')
