mixin work-slide(imgSrc, slideNum, descrip, stage, modalId)
    .works-slider-item
        .works-slider-img
            img(src="img/works/"+ imgSrc+".jpg", alt="work")
        .works-slider-text
            .work-number #{slideNum}
            .work-descrip 
                p !{descrip}
                p Стадия !{stage}
        .works-slider-btn
            a(href="#!" type="button" data-toggle="modal" data-target= modalId ).page-button Подробнее

mixin work-modal(modalId, title, stage, companyName, src )
    .slider-modal.modal.fade(id = modalId tabindex="-1" role="dialog" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content                
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") ×
                .modal-body
                    .work-info
                        .modal-col.modal-col--img
                            .work-img
                                img(src="img/works/"+ src+".jpg", alt="project")
                            .work-title !{title}

                        .modal-col.modal-col--descrip
                            p Стадия #{stage}
                            p Заказчик: #{companyName}
                            p Разделы проектирования, выполненные на объекте:
                            ol
                                li Отопление, теплоснабжение и кондиционирование;
                                li Система водоснабжения и водоотведения. Насосная водоснабжения и пожаротушения;
                                li Противодымная вентиляция;
                                li Автоматическая установка водяного пожаротушения;
                                li Внутренний противопожарный водопровод.
                    .calk-form
                        .calk-form-title рассчитать ваш проект
                        form(action="").contact-form                            
                            .form-fields
                                .form-group
                                    input(type="text" name="user-name"  placeholder="Имя" required).form-input
                                    span
                                        i.far.fa-user
                                .form-group
                                    input(type="tel" name="user-tel" placeholder="Телефон"  required).form-input.phone
                                    span
                                        i.fas.fa-mobile-alt
                                .form-group
                                    input(type="submit" value="отправить заявку" ).form-input.page-button
                                    p.politic-text Отправляя заявку, вы соглашаетесь на обработку персональных данных
section.works#works
    .container
        h2.title-2 наши работы
    .container-fluid
        .works-wrapper
            .works-slider
                +work-slide(1, '01', ' Некапитальное сооружение – сборноразборный малый уличный сценический комплекс на объекте культурного наследия федерального значения.', 'P', '#modal1')
                +work-slide(2, '02', ' Гостинично-деловой комплекс по адресу: г. Москва, ул. 5-я Мякининская, вл. 20, ул. 4-я Мякининская, вл. 27, стр.1', 'P', '#modal2')
                +work-slide(3, '03', ' Разработка проектной документации по объекту:  «Центр NICA»', 'П', '#modal3')
                +work-slide(4, '04', ' Некапитальное сооружение – сборноразборный малый уличный сценический комплекс на объекте культурного наследия федерального значения.', 'P', '#modal4')
                +work-slide(5, '05', ' Гостинично-деловой комплекс по адресу: г. Москва, ул. 5-я Мякининская, вл. 20, ул. 4-я Мякининская, вл. 27, стр.1', 'P', '#modal5')
                +work-slide(6, '06', ' Разработка проектной документации по объекту:  «Центр NICA»', 'П', '#modal6')
                +work-slide(7, '07', ' Разработка проектной документации по объекту:  «Центр NICA»', 'П', '#modal7')
                +work-slide(8, '08', ' Разработка проектной документации по объекту:  «Центр NICA»', 'П', '#modal8')
                +work-slide(9, '09', ' Разработка проектной документации по объекту:  «Центр NICA»', 'П', '#modal9')
                +work-slide(10, '10', ' Разработка проектной документации по объекту:  «Центр NICA»', 'П', '#modal10')
                +work-slide(11, '11', ' Разработка проектной документации по объекту:  «Центр NICA»', 'П', '#modal11')
                +work-slide(12, '12', ' Разработка проектной документации по объекту:  «Центр NICA»', 'П', '#modal12')

+work-modal('modal1', 'Некапитальное сооружение – сборноразборный малый уличный сценический комплекс на объекте культурного наследия федерального значения.', 'P','ООО «МЕРАКОМ»', 1)
+work-modal('modal2', 'Гостинично-деловой комплекс по адресу: г. Москва, ул. 5-я Мякининская, вл. 20, ул. 4-я Мякининская, вл. 27, стр.1', 'П','ООО «МЕРАКОМ»', 2)
+work-modal('modal3', 'Разработка проектной документации по объекту:  «Центр NICA»', 'П','ООО «МЕРАКОМ»', 3)
+work-modal('modal4', 'Разработка проектной документации по объекту:  «Центр NICA»', 'П','ООО «МЕРАКОМ»', 4)
+work-modal('modal5', 'Разработка проектной документации по объекту:  «Центр NICA»', 'П','ООО «МЕРАКОМ»', 5)
+work-modal('modal6', 'Разработка проектной документации по объекту:  «Центр NICA»', 'П','ООО «МЕРАКОМ»', 6)
+work-modal('modal7', 'Разработка проектной документации по объекту:  «Центр NICA»', 'П','ООО «МЕРАКОМ»', 7)
+work-modal('modal8', 'Разработка проектной документации по объекту:  «Центр NICA»', 'П','ООО «МЕРАКОМ»', 8)
+work-modal('modal9', 'Разработка проектной документации по объекту:  «Центр NICA»', 'П','ООО «МЕРАКОМ»', 9)
+work-modal('modal10', 'Разработка проектной документации по объекту:  «Центр NICA»', 'П','ООО «МЕРАКОМ»', 10)
+work-modal('modal11', 'Разработка проектной документации по объекту:  «Центр NICA»', 'П','ООО «МЕРАКОМ»', 11)
+work-modal('modal12', 'Разработка проектной документации по объекту:  «Центр NICA»', 'П','ООО «МЕРАКОМ»', 12)
