mixin work-slide(imgSrc, slideNum, descrip, stage, modalId)
    .works-slider-item
        .works-slider-img
            img(src="img/works/"+ imgSrc+".jpg", alt="work")
        .works-slider-text
            .work-number #{slideNum}
            .work-descrip 
                p !{descrip}
                p Стадия !{stage}
        .works-slider-btn
            a(href="#!" type="button" data-toggle="modal" data-target= modalId ).page-button Подробнее

mixin work-modal(modalId, title, stage, companyName, works, src )
    .slider-modal.modal.fade(id = modalId tabindex="-1" role="dialog" aria-hidden="true")
        .modal-dialog.modal-dialog-centered(role="document")
            .modal-content                
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") ×
                .modal-body
                    .work-info
                        .modal-col.modal-col--img
                            .work-img
                                img(src="img/works/"+ src+".jpg", alt="project")
                            .work-title !{title}

                        .modal-col.modal-col--descrip
                            p Стадия #{stage}
                            p Заказчик: #{companyName}
                            p Разделы проектирования, выполненные на объекте:
                            ol
                                each item in works
                                    li - !{item}
                    .calk-form
                        .calk-form-title рассчитать ваш проект
                        form(action="").contact-form                            
                            .form-fields
                                .form-group
                                    input(type="text" name="user-name"  placeholder="Имя" required).form-input
                                    span
                                        i.far.fa-user
                                .form-group
                                    input(type="tel" name="user-tel" placeholder="Телефон"  required).form-input.phone
                                    span
                                        i.fas.fa-mobile-alt
                                .form-group
                                    input(type="submit" value="отправить заявку" ).form-input.page-button
                                    p.politic-text Отправляя заявку, вы соглашаетесь на обработку персональных данных
section.works#works
    .container
        h2.title-2 наши работы
    .container-fluid
        .works-wrapper
            .works-slider
                +work-slide(1, '01', ' Некапитальное сооружение – сборноразборный малый уличный сценический комплекс на объекте культурного наследия федерального значения.', 'P', '#modal1')
                +work-slide(2, '02', ' Гостинично-деловой комплекс по адресу: г. Москва, ул. 5-я Мякининская, вл. 20, ул. 4-я Мякининская, вл. 27, стр.1', 'П', '#modal2')
                +work-slide(3, '03', ' Разработка проектной документации по объекту:  «Центр NICA»', 'П', '#modal3')
                
                +work-slide(4, '04', ' ПРОЕКТНО-СМЕТНАЯ ДОКУМЕНТАЦИЯ НА СОЗДАНИЕ БИЛЕТНО-КАССОВЫХ ЦЕНТРОВ', 'П и Р', '#modal4')
                +work-slide(5, '05',' Корректировка проекта реставрации с приспособлением под объект общественного питания с террасой' , 'П и Р', '#modal5')
                
                +work-slide(6, '06', ' Корректировка конструктивных решений обустройства выставочно-экспозиционного пространства', 'П', '#modal6')
                +work-slide(11, '07', ' Общеобразовательная школа №1 на 1100 мест  (Школа №1-М) по адресу: Московская область, Люберецкий район, пос. Томилино', 'П', '#modal7')
                +work-slide(7, '08', ' Разработка проектной и рабочей документации объекта культурного наследия', 'П', '#modal8')

+work-modal('modal1', 'Некапитальное сооружение – сборноразборный малый уличный сценический комплекс на объекте культурного наследия федерального значения.', 'P','ООО «ВАУХАУС»', ['Генеральный план;', 'Конструкции металлические;','Электроснабжение и электрооборудование. Система контроля и управления доступом;',  'Технологические решения;', 'Сметная документация;'], 1)

+work-modal('modal2', 'Гостинично-деловой комплекс по адресу: г. Москва, ул. 5-я Мякининская, вл. 20, ул. 4-я Мякининская, вл. 27, стр.1', 'П','ООО «МЕРАКОМ»',  ['Отопление, теплоснабжение и кондиционирование;', 'Система водоснабжения и водоотведения. Насосная водоснабжения и пожаротушения;', 'Противодымная вентиляция;', 'Автоматическая установка водяного пожаротушения;','Внутренний противопожарный водопровод.' ],2)

+work-modal('modal3', 'Разработка проектной документации по объекту:  «Центр NICA»', 'П',' ООО «ПИ АРЕНА»', ['Отопление, вентиляция, кондиционирование;', 'Водоснабжение и водоотведение.'],3)

+work-modal('modal4', 'ПРОЕКТНО-СМЕТНАЯ ДОКУМЕНТАЦИЯ НА СОЗДАНИЕ БИЛЕТНО-КАССОВЫХ ЦЕНТРОВ',  'П и Р','ООО «ВАУХАУС»',['Конструктивные решения', 'Схема планировочной организации земельного участка;', 'Отопление, вентиляция, кондиционирование; ','Электроснабжение и электрооборудование;','Сети связи;','Комплексная система безопасности;','Водоснабжение и водоотведение.','Проект организации строительства;','Проект организации по сносу и демонтажу;','Технологические решения;','Перечень мероприятий по охране окружающей среды;','Мероприятия по обеспечению пожарной безопасности;','Проект организации дорожного движения;','Мероприятия по обеспечению доступа инвалидов;','Сметная документация.','Генеральный план;','Конструктивные решения;','Отопление, вентиляция, кондиционирование; ','Электроснабжение и электрооборудование;','Сети связи;','Комплексная система безопасности;','Водоснабжение и водоотведение.','Мероприятия по обеспечению доступа инвалидов;','Технологические решения;'], 4)

+work-modal('modal5', 'Корректировка проекта реставрации с приспособлением под объект общественного питания с террасой', 'П и Р','ООО «ВАУХАУС»', ['Конструктивные решения;', 'Отопление, вентиляция, кондиционирование; ', ' Электроснабжение и электрооборудование;','ети связи;','Комплексная система безопасности;','Водоснабжение и водоотведение.','Проект организации строительства;','Проект организации по сносу и демонтажу;','Технологические решения;','Перечень мероприятий по охране окружающей среды;','Мероприятия по обеспечению пожарной безопасности;','Сметная документация;','Обследование конструкций здания и инженерных систем. Комплексное техническое заключение.','Конструктивные решения;','Отопление, вентиляция, кондиционирование; ','Электроснабжение и электрооборудование;',' Сети связи;','Комплексная система безопасности;','Водоснабжение и водоотведение.','Технологические решения;'], 5)

+work-modal('modal6', 'Корректировка конструктивных решений обустройства выставочно-экспозиционного пространства', 'П','ООО «ВАУХАУС»', ['«Конструктивные и объемно-планировочные решения» ', '«Конструктивные решения обустройства выставочно-экспозиционного пространства музейных залов и зоны временных выставок»'], 6)
+work-modal('modal7', 'Общеобразовательная школа №1 на 1100 мест  (Школа №1-М) по адресу: Московская область, Люберецкий район, пос. Томилино', 'Р','ООО «МОСКОВСКАЯ ПРОЕКТНАЯ КОМПАНИЯ» ', ['Отопление, вентиляция и кондиционирование корпусов А и Б;', 'Водоснабжение и водоотведение корпуса А;', 'Противодымная вентиляция корпусов А, Б, В.'], 11)
+work-modal('modal8', 'Разработка проектной и рабочей документации объекта культурного наследия', 'П',' ООО «ПРОЕКТ +»', ['«Конструктивные и объемно-планировочные решения» '], 7)